.main_container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.trip_container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 1rem;
  width: 15rem;
}
.trip_heading {
  margin: 0;
}
